RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
<!-- RewriteRule ^(.*)$ //sigefa-ralph.herokuapp.com/index.php/$1 [L] -->
RewriteRule (.*) https://sigefa-ralph.herokuapp.com/index.php/$1 [L,QSA,R=301]


